<!--
    ioBroker.hombot Widget-Set

    version: "0.0.2"

    Copyright 2018 Alexander Gurtzick<algu1@outlook.de>
	
	TODO:
	- Widget für zeige letzte Karte
	- Widget für Live-Bild
	- 
-->
<link rel="stylesheet" href="widgets/hombot/css/style.css" />
<script type="text/javascript" src="widgets/hombot/js/hombot.js"></script>

<script id="tplHombotShowInstance"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div><img src="widgets/hombot/img/HomBot.png" style="width:50px; height:35px;"></img><img src="widgets/hombot/img/HomBot-Start.png" style="width:25px; height:17px;"></img></div>'
		data-vis-attrs="oid/id;"
        data-vis-attrs0="showIcon[true]/checkbox;showOnline/checkbox[true];"
        data-vis-attrs1="group.showbuttons;showButtonStart[true]/checkbox;"
        data-vis-attrs2="group.showbuttons;showButtonStop[true]/checkbox;"
        data-vis-attrs3="group.showbuttons;showButtonHome[true]/checkbox;"
        data-vis-attrs4="group.showbuttons;showButtonMode[false]/checkbox;"
        data-vis-attrs5="group.showbuttons;showButtonRepeat[false]/checkbox;"
        data-vis-attrs6="group.showbuttons;showButtonTurbo[false]/checkbox;"
        data-vis-attrs7="group.showvalues;showBattery[true]/checkbox;"
		data-vis-attrs8="group.showvalues;showStatus[true]/checkbox;"
		data-vis-attrs9="group.showvalues;showLastClean[true]/checkbox;"
		data-vis-attrs10="group.showvalues;showLastClean[true]/checkbox;"
		data-vis-attrs11="group.showvalues;showMode[false]/checkbox;"
		data-vis-attrs12="group.showvalues;showRepeat[false]/checkbox;"
		data-vis-attrs13="group.showvalues;showTurbo[false]/checkbox;"
        data-vis-set="hombot"
        data-vis-type="Haushalt"
        data-vis-name="HomBot"
		data-vis-beta="true">
    <div class="vis-widget <%== this.data.attr('class') %>" style="width:230px; height:210px;" id="<%= this.data.attr('wid') %>" >
        <div class="hombot-class vis-widget-body <%== this.data.attr('class') %>" style="padding:5px" >
            <%
            var showIconStyle = 'style=padding-right:20px;';
            if (this.data.showIcon === 'false' || this.data.showIcon === false) {
                showIconStyle = 'style=display:none;';
            }
            var showOnlineStyle = 'style=padding-right:20px;';
            if (this.data.showOnline === 'false' || this.data.showOnline === false) {
                showOnlineStyle = 'style=display:none;';
            }
            var showButtonStartStyle = '';
            if (this.data.showButtonStart === 'false' || this.data.showButtonStart === false) {
                showButtonStartStyle = 'style=display:none;';
            }
            var showButtonStopStyle = '';
            if (this.data.showButtonStop === 'false' || this.data.showButtonStop === false) {
                showButtonStopStyle = 'style=display:none;';
            }
            var showButtonHomeStyle = '';
            if (this.data.showButtonHome === 'false' || this.data.showButtonHome === false) {
                showButtonHomeStyle = 'style=display:none;';
            }
            var showButtonModeStyle = '';
            if (this.data.showButtonMode === 'false' || this.data.showButtonMode === false) {
                showButtonModeStyle = 'style=display:none;';
            }
            var showButtonRepeatStyle = '';
            if (this.data.showButtonRepeat === 'false' || this.data.showButtonRepeat === false) {
                showButtonRepeatStyle = 'style=display:none;';
            }
            var showButtonTurboStyle = '';
            if (this.data.showButtonTurbo === 'false' || this.data.showButtonTurbo === false) {
                showButtonTurboStyle = 'style=display:none;';
            }
			var showBatteryStyle = '';
            if (this.data.showBattery === 'false' || this.data.showBattery === false) {
                showBatteryStyle = 'style=display:none;';
            }
			var showStatusStyle = '';
            if (this.data.showStatus === 'false' || this.data.showStatus === false) {
                showStatusStyle = 'style=display:none;';
            }
			var showLastCleanStyle = '';
            if (this.data.showLastClean === 'false' || this.data.showLastClean === false) {
                showLastCleanStyle = 'style=display:none;';
            }
			var showModeStyle = '';
            if (this.data.showMode === 'false' || this.data.showMode === false) {
                showModeStyle = 'style=display:none;';
            }
			var showRepeatStyle = '';
            if (this.data.showRepeat === 'false' || this.data.showRepeat === false) {
                showRepeatStyle = 'style=display:none;';
            }
			var showTurboStyle = '';
            if (this.data.showTurbo === 'false' || this.data.showTurbo === false) {
                showTurboStyle = 'style=display:none;';
            }
			%>
			<div style="float:left;padding-bottom:5px;">
				<div <%= showIconStyle %> class="hombotImage"><img src="widgets/hombot/img/HomBot.png" style="width:78px;height:55px;"></img></div>
				<div <%= showOnlineStyle %> class="hombotImage"><img src="widgets/hombot/img/online.png"></img></div>
				<div <%= showButtonStartStyle %> class="hombotImage hombotButton" data-oid="<%= this.data.attr('oid') + '.commands.cleaningStart' %>" data-val="true" <%= (el) -> vis.binds.basic.state(el); vis.binds.jqueryui.classes(el, null, true) %>>
					<img src="widgets/hombot/img/HomBot-Start.png" style="width:50px; height:50px;vertical-align: middle;"></img>
				</div>
				<div <%= showButtonStopStyle %> class="hombotImage hombotButton" data-oid="<%= this.data.attr('oid') + '.commands.stop' %>" data-val="true" <%= (el) -> vis.binds.basic.state(el); vis.binds.jqueryui.classes(el, null, true) %>>
					<img src="widgets/hombot/img/HomBot-Stop.png" style="width:50px; height:50px;vertical-align: middle;"></img>
				</div>
				<div <%= showButtonHomeStyle %> class="hombotImage hombotButton" data-oid="<%= this.data.attr('oid') + '.commands.goHome' %>" data-val="true" <%= (el) -> vis.binds.basic.state(el); vis.binds.jqueryui.classes(el, null, true) %>>
					<img src="widgets/hombot/img/HomBot-Home.png" style="width:50px; height:50px;vertical-align: middle;"></img>
				</div>
				<div <%= showButtonModeStyle %> class="hombotImage hombotButton" data-oid="<%= this.data.attr('oid') + '.commands.mode' %>" data-val="SWITCH" <%= (el) -> vis.binds.basic.state(el); vis.binds.jqueryui.classes(el, null, 'SWITCH') %>>
					<img src="widgets/hombot/img/HomBot-Mode.png" style="width:50px; height:50px;vertical-align: middle;"></img>
				</div>
				<div <%= showButtonRepeatStyle %> class="hombotImage hombotButton" data-oid="<%= this.data.attr('oid') + '.commands.repeat' %>" data-val="true" <%= (el) -> vis.binds.basic.state(el); vis.binds.jqueryui.classes(el, null, true) %>>
					<img src="widgets/hombot/img/HomBot-Repeat.png" style="width:50px; height:50px;vertical-align: middle;"></img>
				</div>
				<div <%= showButtonTurboStyle %> class="hombotImage hombotButton" data-oid="<%= this.data.attr('oid') + '.commands.turbo' %>" data-val="true" <%= (el) -> vis.binds.basic.state(el); vis.binds.jqueryui.classes(el, null, true) %>>
					<img src="widgets/hombot/img/HomBot-Turbo.png" style="width:50px; height:50px;vertical-align: middle;"></img>
				</div>
			</div>
			<div style="clear:left;">
				<div class="hombotStatus" <%= showBatteryStyle %>><span style="clear: right">Batterie:</span><span id="hombot-battery" style="float:right;padding-right: 10px;"><%== vis.states[this.data.attr('oid') + '.states.battery.val'] %>&nbsp;%</span></div>
				<div class="hombotStatus" <%= showStatusStyle %>><span style="clear: right">Status:</span><span id="hombot-status" style="float:right;padding-right: 10px;"><%== vis.states[this.data.attr('oid') + '.states.status.val'] %></span></div>
				<div class="hombotStatus" <%= showLastCleanStyle %>><span style="clear: right">Letzte Reinig.:</span><span id="hombot-lastClean" style="float:right;padding-right: 10px;"><%== vis.states[this.data.attr('oid') + '.states.lastClean.val'] %></span></div>
				<div class="hombotStatus" <%= showModeStyle %>><span style="clear: right">Modus</span><span id="hombot-mode" style="float:right;padding-right: 10px;"><%== vis.states[this.data.attr('oid') + '.states.mode.val'] %></span></div>
				<div class="hombotStatus" <%= showRepeatStyle %>><span style="clear: right">Repeat</span><span id="hombot-repeat" style="float:right;padding-right: 10px;"><%== vis.states[this.data.attr('oid') + '.states.repeat.val'] %></span></div>
				<div class="hombotStatus" <%= showTurboStyle %>><span style="clear: right">Turbo</span><span id="hombot-turbo" style="float:right;padding-right: 10px;"><%== vis.states[this.data.attr('oid') + '.states.turbo.val'] %></span></div>
			</div>
			<% vis.binds.hombot.bindData(this.data.wid, this.view, this.data, this.style); %>
		</div>
    </div>
</script>


